_auth = cmljaGFyZC5kb2xsYXJAcGFya21vYmlsZS5pbzpBS0NwNWZUamVtWEVERFBhcDlZV3VQa3pYd1JiUHdpVVhibVlNSFFoTEw0c0VuY3EzelM0cEVTRkpwWGpwazFDZENNeml4eDVK
always-auth = true
@parkmobile:registry=https://parkmobile.jfrog.io/parkmobile/api/npm/npm/
//parkmobile.jfrog.io/parkmobile/api/npm/npm/:_password=QUtDcDVmVGplbVhFRERQYXA5WVd1UGt6WHdSYlB3aVVYYm1ZTUhRaExMNHNFbmNxM3pTNHBFU0ZKcFhqcGsxQ2RDTXppeHg1Sg==
//parkmobile.jfrog.io/parkmobile/api/npm/npm/:username=richard.dollar@parkmobile.io
//parkmobile.jfrog.io/parkmobile/api/npm/npm/:email=richard.dollar@parkmobile.io
//parkmobile.jfrog.io/parkmobile/api/npm/npm/:always-auth=true
